body {
  background-color: white; }

.userButton {
  padding: 10px 5px;
  margin: 0 auto;
  display: block; }

.userWindow {
  display: block;
  margin: 0 auto;
  border: 1px solid black;
  text-align: center; }
